body {
    background: url(images/Background.png) no-repeat center fixed;
    margin: 0 auto;
    background-size: 100% 100%;
}

#board {
    width: 1280px;
    height: 500px;
    margin-top: 70px;
}

.chessboard {
    width: 520px;
    height: 520px;
    margin: auto;
}

.realboard {
    border: 11px solid rgb(1, 1, 1);
    width: 520px;
    height: 520px;
    margin: auto;
}

.row {
    width: 520px;
    height: 65px;
}

.square {
    width: 65px;
    height: 65px;
    justify-content: center;
}

.row8, .row7, .row6, .row5, .row4, .row3, .row2, .row1 { float: left; }

.light { background-color: rgb(255, 255, 255) }

.dark { background-color: rgb(124, 0, 0); }

.piece {
    width: 65px;
    height: 65px;
    object-fit: fill;
}